@model CajaMainPageVm
@{
    Layout = ViewBag.LayoutSet == true ? "~/Views/Shared/LayoutMain.cshtml" : null;
}
<script src='@Url.Content("~/scripts/App/Caja/CajaV101.js")'></script>
<script>
    nsGral.TituloPagina = 'Caja';
    nsGral.ModuloPagina = "Transacciones";
    nsCj.UrlRegistrarMovimiento = '@Url.Action("RegistrarMovimiento")';
    nsCj.UrlRegistrarDevolucion = '@Url.Action("DevolverProducto")';
    nsCj.UrlCodebarRead = '@Url.Action("CheckCodeBarExist", "Producto")';
</script>

<div class="row">
    <div class="col-md-5">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Transacciones Caja
                </div>               
            </div>
            <div class="portlet-body">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 150px;">
                    <div class="scroller" style="height: 150px; overflow: hidden; width: auto;" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="row">
                            <div class="col-md-2">
                                <label for="exampleInputName2">Tipo de Movimiento:</label>
                            </div>
                            <div class="col-md-2">
                                @Html.Infragistics().Combo(Model.CmbMovimiento)
                            </div> 
                        </div>
                        <div class="row" id="rowValorAfectar" style="display:none;">
                            <div class="col-md-2">
                                <label for="exampleInputName2">Valor:</label>
                            </div>
                            <div class="col-md-3">
                                <input type="number" class="form-control" id="txtValorMovimiento" min="0" max="9000000">
                            </div>
                            <div class="col-md-2">
                                <button id="btnRegistrarCaja"  class="btn btn-default">Registrar</button>
                            </div>    
                        </div>                                                                                            
                    </div>
                    <div class="slimScrollBar" style="background: rgb(161, 178, 189); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 175.439px;"></div>
                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: yellow; opacity: 0.2; z-index: 90; right: 1px; display: none;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Devoluciones
                </div>
            </div>
            <div class="portlet-body">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 150px;">
                    <div class="scroller" style="height: 150px; overflow: hidden; width: auto;" data-rail-visible="1" data-rail-color="yellow" data-handle-color="#a1b2bd" data-initialized="1">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="exampleInputName2">Codigo barras/Nombre Producto:</label>
                            </div>
                            <div class="col-md-3">
                                @Html.Infragistics().Combo(Model.CmbDevolucion)
                                @*<input type="number" class="form-control" id="txtValor" min="0" max="1000000">*@
                            </div>
                        </div>                        
                    </div>
                    <div class="slimScrollBar" style="background: rgb(161, 178, 189); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 175.439px;"></div>
                    <div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: yellow; opacity: 0.2; z-index: 90; right: 1px; display: none;"></div>
                </div>
            </div>
        </div>
    </div>              
</div>
   
<div class="row">
    <div class="col-md-5">
        @Html.Infragistics().Grid(Model.GmCaja)
    </div>
</div>




